include ../logo/logo

mixin footer(data)
	- const { output, nav, contacts, socials } = data;
	+b('footer').footer(id=`contacts`)&attributes(attributes)
		+e('h2').title Контакты
		+e('div').container
			+e('div').row
				+e('div').col--left
					+e('div').info
						+logo(class='__logo')
						+e('div').output
							each item in output
								p !{item}
					+e('ul').nav.nav-footer__
						each item in nav
							- const {name: navItemName, link: navItemLink} = item;
							+e('li').item
								+e('a').link(href=`${navItemLink}`) !{navItemName}
				+e('div').col--right
					+e('ul').contacts-list.contacts-footer-list__
						each contact in contacts
							- const {icon: contactIcon, tel, annotation} = contact;
							- const {name: contactIconName, width: contactIconWidth, height: contactIconHeight} = contactIcon;
							+e('li').item
								- const {data, text} = tel;
								+e('a').link(href= `tel:${data}`)
									+e('svg').icon(width= contactIconWidth, height= contactIconHeight)
										use(xlink:href=`#footer__${contactIconName}`)
									+e('span').text !{text}
								+e('p').annotation !{annotation}
					+e('ul').socials-list.socials-footer-list__
						each social in socials
							- const {icon: socialIcon, width: socialWidth, height: socialHeight} = social
							+e('li').item
								+e('a').link(href='#', title= socialIcon)
									+e('svg').icon(width= socialWidth, height= socialHeight)
										use(xlink:href=`#footer__${socialIcon}`)
									+e('span').text !{socialIcon}
