mixin services(data)
	+b('section').services(id='services')&attributes(attributes)
		+e('h2').title Услуги
		- const tabs = data.map(item => item['tab-content']);
		+e('ul').list
			each item, index in data
				+e('li').list-item(class=`${index === 0 ? '--active ' : ''}`, tabindex= index + 1)
					+e('a').link(href=`#tab-${item['tab-modifier']}`)
						+e('span').text !{item['tab-name']}
						case item['tab-modifier']
							when 'investments'
								+e('svg').icon(width= 34, height= 34)
									use(xlink:href='#services__investments')
							when 'credit'
								+e('svg').icon(width=34, height=30)
									use(xlink:href='#services__credit')
							when 'insurance'
								+e('svg').icon(width=28, height=34)
									use(xlink:href='#services__insurance')
							when 'online'
								+e('svg').icon(width=20, height=34)
									use(xlink:href='#services__online')

		+e('ul').wrapper(class='swiper-wrapper')
			each tab, index in tabs
				- const tabModifier = data[index]['tab-modifier']
					+e.tab.tab-service__(class=`${index === 0 ? '--active' : ''} swiper-slide`, id=`tab-${tabModifier}`)
						+e.inner
							+e('div').content
								+e('h2').title !{tab['tab-title']}
								+e('ul').list
									each item in tab['tab-list']
										+e.item !{item}
								- const { modifier: linkModifier, text } = tab['tab-link'];
								if linkModifier === 'button'
									+e('a').link(href='#')= text
								else if linkModifier === 'link'
									+e('p').text !{text}
							picture
								source(type='image/webp', media='(max-width: 768px)', srcset=`@services/tab-${tabModifier}-image--mobile@1x.webp, @services/tab-${tabModifier}-image--mobile@2x.webp 2x`)
								source(type='image/webp', media='(max-width: 1023px)', srcset=`@services/tab-${tabModifier}-image--tablet@1x.webp, @services/tab-${tabModifier}-image--tablet@2x.webp 2x`)
								source(type='image/webp', srcset=`@services/tab-${tabModifier}-image--desktop@1x.webp, @services/tab-${tabModifier}-image--desktop@2x.webp 2x`)
								source(media='(max-width: 768px)', srcset=`@services/tab-${tabModifier}-image--mobile@1x.png, @services/tab-${tabModifier}-image--mobile@2x.png 2x`)
								source(media='(max-width: 1023px)', srcset=`@services/tab-${tabModifier}-image--tablet@1x.png, @services/tab-${tabModifier}-image--tablet@2x.png 2x`)
								+e('img').image(src=`@services/tab-${tabModifier}-image--desktop@1x.png`, srcset=`@services/tab-${tabModifier}-image--desktop@2x.png 2x`, width=440, height=290)
		div.swiper-pagination
