mixin form-departments(data)
	+b('div').form-departments&attributes(attributes)
		form#departments-form
			each item in data
				+e('div').form-field
					input(
						type='checkbox',
						id= `department-${item.modifier}`,
						name=`department`,
						checked= item.checked
					)
					label(
						for=`department-${item.modifier}`,
						tabindex= 0
					) !{item.label}
