mixin tab-services(data)
	+b('li').tab-services&attributes(attributes)
		- const {tab, tabModifier} = data;
		+e.inner
			+e('div').content
				+e('h3').title !{tab['tab-title']}
				+e('ul').list
					each item in tab['tab-list']
						+e.item !{item}
				- const { modifier: linkModifier, text } = tab['tab-link'];
				if linkModifier === 'button'
					+e('a').link(href='#')= text
				else if linkModifier === 'link'
					+e('p').text !{text}
			picture
				source(type='image/webp', media='(max-width: 768px)', srcset=`@tab-services/tab-${tabModifier}-image--mobile@1x.webp, @tab-services/tab-${tabModifier}-image--mobile@2x.webp 2x`)
				source(type='image/webp', media='(max-width: 1023px)', srcset=`@tab-services/tab-${tabModifier}-image--tablet@1x.webp, @tab-services/tab-${tabModifier}-image--tablet@2x.webp 2x`)
				source(type='image/webp', srcset=`@tab-services/tab-${tabModifier}-image--desktop@1x.webp, @tab-services/tab-${tabModifier}-image--desktop@2x.webp 2x`)
				source(media='(max-width: 768px)', srcset=`@tab-services/tab-${tabModifier}-image--mobile@1x.png, @tab-services/tab-${tabModifier}-image--mobile@2x.png 2x`)
				source(media='(max-width: 1023px)', srcset=`@tab-services/tab-${tabModifier}-image--tablet@1x.png, @tab-services/tab-${tabModifier}-image--tablet@2x.png 2x`)
				+e('img').image(src=`@tab-services/tab-${tabModifier}-image--desktop@1x.png`, srcset=`@tab-services/tab-${tabModifier}-image--desktop@2x.png 2x`, width=440, height=290)
